[Unit]
Description=Shopixy Master Backup
After=network-online.target

[Service]
Type=oneshot
User=shopixy
WorkingDirectory=/home/shopixy/Kubernetes_Vps_Deploy
ExecStart=/home/shopixy/Kubernetes_Vps_Deploy/master-backup.sh
